<ion-content>
<div style="display:flex;flex-direction:column;align-items:center; height:100vh; padding: top 40rem;">
  <iframe style="margin-top: 2rem;" src="https://open.spotify.com/embed/playlist/5qDGn2xFnFoBWgEiuYeOEz" height="500" width="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<ion-card>
  <ion-card-header>
    <ion-card-title>La cancion que mas me recuerda a ti</ion-card-title>
    <ion-card-subtitle>Mas vale que te guste porque es de mis favs</ion-card-subtitle>
  </ion-card-header>


  <ion-card-content>
    <iframe style="width: 24rem;" src="https://open.spotify.com/embed/track/7egu63DOhNpivWOpGtzqGS?si=8d659b72fdfb432d"
     height="100"  frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>La cancion que me has dedicado que mas me gusta</ion-card-title>
    <ion-card-subtitle>(Pero nadie lo puede saber)</ion-card-subtitle>
  </ion-card-header>


  <ion-card-content>
    <iframe style="width: 24rem;" src="https://open.spotify.com/embed/track/6tu2FHuKL9C8pwNrityweQ?si=40425cfeb48f4aa1"
     height="100"  frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </ion-card-content>
</ion-card>

</div>

</ion-content>

